@model dynamic

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SignalR Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <article class="deck-container">
            <section class="slide">
                <h1>SignalR</h1>
                <img src="~/Content/images/keepin_it_real.png"/>
            </section>

            <section class="slide">
                <h2>Slide 2</h2>
            </section>
        </article>
        
        <a href="#drawbox" role="button" style="position: absolute; bottom: 0; z-index: 5000" class="btn" data-toggle="modal">Draw Time</a>
        
        <div id="drawbox" class="modal hide fade" style="left: 40px; right: 40px; top: 50px; bottom: 50px; width: auto; margin: 0" tabindex="-1" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>It's like this...</h3>
            </div>
            <div class="modal-body" style="max-height: none;">
                <canvas id="canvas" width="660" height="690" style="outline:1px red solid"></canvas>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/deck")
        @Scripts.Render("~/bundles/signalr")
        <script src="signalr/hubs" type="text/javascript"></script>

        @Scripts.Render("~/bundles/demo")
    </body>
</html>
