@model dynamic

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SignalR Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <article class="deck-container">
            <section class="slide">
                <h1>SignalR</h1>
                <img src="~/Content/images/keepin_it_real.png"/>
            </section>

            <section class="slide">
                <h2>What is it?</h2>
                <h3 class="toobig">It's basically magic.</h3>
            </section>
            
            <section class="slide">
                <h2>How does it work?</h2>
                <h3>It uses a gracefully degradating transport mode (in order of decreasing performance):</h3>
                <ul>
                    <li>WebSockets</li>
                    <li>Server Sent Events</li>
                    <li>Forever Frame</li>
                    <li>Long Polling</li>
                </ul>
            </section>
            
            <section class="slide">
                <h2>Show me some code!</h2>
                <div class="slide">
                    Client:
                    <pre data-line="3, 5, 11"><code class="language-javascript">(function($) {
    var inventoryHub = $.connection.inventory;

    $.connection.hub.start()
        .done(function() {
            randomlyUpdateInventory({ id: 1, count: 5 });
        });

    function randomlyUpdateInventory(details) {
        inventoryHub.server.updateInventory(details);
    }
})(jQuery);</code></pre></div>
                <div class="slide">Client callback:
                    <pre data-line=""><code class="language-javascript">inventoryHub.client.inventoryTaken = function(details) {
    alert('Someone just took ' + details.count + ' of item ' + details.id);
};</code></pre>
                </div>
            </section>
            
            <section class="slide">
                <h2>Show me some more code!</h2>
                Server:
                <pre><code class="language-java">public class Inventory : Hub 
{
    public void UpdateInventory(dynamic details) 
    {
        Clients.Others.inventoryTaken(details);
    }
}</code></pre>
            </section>
            
            <section class="slide">
                <h2>Messaging Options</h2>
                <ul class="bitsmaller">
                    <li><code class="language-java">Clients.All</code> - All connected clients</li>
                    <li><code class="language-java">Clients.Others</code> - Everyone but the caller</li>
                    <li><code class="language-java">Clients.Group("groupName", exclude)</code> - All clients in that group (excluding the exclude list of ids)</li>
                    <li><code class="language-java">Clients.Client("connectionid")</code> - A specific client</li>
                    <li><code class="language-java">Clients.OthersInGroup("groupName")</code> - All clients in that group except the caller</li>
                    <li><code class="language-java">Clients.AllExcept(exclude)</code> - All clients except the ones specified in the exclude list.</li>
                    <li><code class="language-java">Clients.Caller</code> - Call back to the caller</li>
                </ul>
            </section>
            
            <section class="slide">
                <h2>Meet and Greet</h2>
                <pre data-line="6"><code class="language-java">public class Inventory : Hub
{
        public override Task OnConnected()
        {
            DoSomething(this.Context.ConnectionId);
            return base.OnConnected();
        }

        public override Task OnDisconnected()
        {
            return base.OnDisconnected();
        }

        public override Task OnReconnected()
        {
            return base.OnReconnected();
        }
        
        ...
}
</code></pre>
            </section>
            <section class="slide">
                <h2>Hub Pipeline</h2>
                <pre><code class="language-java">protected void Application_Start(object sender, EventArgs e) {
    GlobalHost.HubPipeline.AddModule(new LoggingPipelineModule());
}</code></pre>
                <pre class="slide"><code class="language-java">public class LoggingPipelineModule : HubPipelineModule
{
    protected override bool OnBeforeIncoming(IHubIncomingInvokerContext context)
    {
        Debug.WriteLine("=> Invoking " + context.MethodDescriptor.Name + " on hub " + context.MethodDescriptor.Hub.Name);
        return base.OnBeforeIncoming(context);
    }
 
    protected override bool OnBeforeOutgoing(IHubOutgoingInvokerContext context)
    {
        Debug.WriteLine("<= Invoking " + context.Invocation.Method + " on client hub " + context.Invocation.Hub);
        return base.OnBeforeOutgoing(context);
    }
}</code></pre>
            </section>
            <section class="slide">
                <h2>Slow Going</h2>
                You can be notified of and react to slow / inconsistent network issues:
                <pre data-line="9"><code class="language-javascript">$(function () {
        var chat = $.connection.chat;
 
        chat.client.send = function (message) {
            $('#messages').append(message);
        };
        
        $.connection.hub.connectionSlow(function() {
            alert('There seems to be some connectivity issues...');
        });
        
        $.connection.hub.start();
    });</code></pre>
            </section>
            <section class="slide">
                <h2>Scale Out</h2>
                Currently provides two backplane implementations: Azure Service Bus and Redis
                <img src="/Content/images/scaleout.png"/>
            </section>
            
            <section class="slide"><h1>Thanks!</h1></section>
        </article>
        
        <a id="drawtime" href="#drawbox" role="button" class="btn" data-toggle="modal">Draw Time</a>
        
        <div id="drawbox" class="modal hide fade" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>It's like this...</h3>
            </div>
            <div class="modal-body">
                <canvas id="canvas" width="680" height="720"></canvas>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/deck")
        @Scripts.Render("~/bundles/signalr")
        <script src="signalr/hubs" type="text/javascript"></script>

        @Scripts.Render("~/bundles/demo")
    </body>
</html>
