@model dynamic

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SignalR Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <article class="deck-container">
            <section class="slide">
                <h1>SignalR</h1>
                <img src="~/Content/images/keepin_it_real.png"/>
            </section>

            <section class="slide">
                <h2>What is it?</h2>
                <h3 class="toobig">It's basically magic.</h3>
            </section>
            
            <section class="slide">
                <h2>How does it work?</h2>
                <h3>It uses a gracefully degradating transport mode (in order of decreasing performance):</h3>
                <ul>
                    <li>WebSockets</li>
                    <li>Server Sent Events</li>
                    <li>Forever Frame</li>
                    <li>Long Polling</li>
                </ul>
            </section>
            
            <section class="slide">
                <h2>Show me some code!</h2>
                <div class="slide">
                    Client:
                    <pre data-line="3, 5, 11"><code class="language-javascript">(function($) {
    var inventoryHub = $.connection.inventory;

    $.connection.hub.start()
        .done(function() {
            randomlyUpdateInventory({ id: 1, count: 5 });
        });

    function randomlyUpdateInventory(details) {
        inventoryHub.server.updateInventory(details);
    }
})(jQuery);</code></pre></div>
                <div class="slide">Client callback:
                    <pre data-line=""><code class="language-javascript">inventoryHub.client.inventoryTaken = function(details) {
    alert('Someone just took ' + details.count + ' of item ' + details.id);
};</code></pre>
                </div>
            </section>
            
            <section class="slide">
                <h2>Show me some more code!</h2>
                Server:
                <pre><code class="language-java">public class Inventory : Hub {
        public void UpdateInventory(dynamic details) {
            Clients.Others.inventoryTaken(details);
        }
    }
}
</code></pre>
            </section>
        </article>
        
        <a id="drawtime" href="#drawbox" role="button" class="btn" data-toggle="modal">Draw Time</a>
        
        <div id="drawbox" class="modal hide fade" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>It's like this...</h3>
            </div>
            <div class="modal-body">
                <canvas id="canvas" width="680" height="720"></canvas>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/deck")
        @Scripts.Render("~/bundles/signalr")
        <script src="signalr/hubs" type="text/javascript"></script>

        @Scripts.Render("~/bundles/demo")
    </body>
</html>
